APP_ENV=staging
NEXT_PUBLIC_APP_ENV=staging

NEXTAUTH_URL=https://evaluacion-pi-staging.vercel.app
NEXTAUTH_SECRET=staging_secret_configurado_en_vercel

GOOGLE_CLIENT_ID=tu_client_id_de_google_staging
GOOGLE_CLIENT_SECRET=tu_client_secret_de_google_staging

EMAIL_PROVIDER=resend
EMAIL_FROM="Evaluacion PI <no-reply@tu-dominio.com>"
RESEND_API_KEY=secret_configurado_en_vercel_y_github
REDIS_URL=redis://usuario:password@host:6379
EMAIL_WORKER_CONCURRENCY=5
