APP_ENV=staging
NEXT_PUBLIC_APP_ENV=staging

NEXTAUTH_URL=https://evaluacion-pi-staging.up.railway.app
NEXTAUTH_SECRET=staging_secret_configurado_en_railway

GOOGLE_CLIENT_ID=tu_client_id_de_google_staging
GOOGLE_CLIENT_SECRET=tu_client_secret_de_google_staging
