APP_ENV=development
NEXT_PUBLIC_APP_ENV=development

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=dev_secret_cambiar_en_local

GOOGLE_CLIENT_ID=tu_client_id_de_google_dev
GOOGLE_CLIENT_SECRET=tu_client_secret_de_google_dev
