NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=pon_aqui_una_clave_larga_y_segura
JWT_SECRET=pon_aqui_una_clave_larga_y_segura
JWT_EXPIRES_IN=7d

GOOGLE_CLIENT_ID=tu_client_id_de_google
GOOGLE_CLIENT_SECRET=tu_client_secret_de_google
